body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #e7eeee;
  }

main {
    border: 2px solid #000; /* Black border */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center-align text */
    margin: 20px;
    height: 70vh;
    background-color: #ffffffb5;
}

h2 {
    color: #333; /* Dark text color */
    text-align: justify; 
}

p {
    margin: 10px 0; /* Add some margin between paragraphs */
    text-align: justify; 
}
a{
    text-decoration: none;
}